@page
@model UKAR.Pages.TableModel

@{
    Layout = null;
}

<div class="table">
    <div class="header">
        <div class="title">

        </div>
    </div>
    <div class="body">
        <div class="body-content">
            <div class="row">
                <div class="column">
                    <span></span>
                </div>
                <div class="column">
                    <span></span>
                </div>
                <div class="column">
                    <span></span>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <span></span>
                </div>
                <div class="column">
                    <span></span>
                </div>
                <div class="column">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>